<footer class="container-fluid mt-5 bg-dark">
  <div class="row">
    <div class="col-md-4">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac6dcfb4ab4b17421c01fc318f6f8870f22eb4da75c49365b1236a7dcb0d5054e&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
    </div>
    <div class="col-md-4 text-center">
      <h1>Arm Стройка</h1>
      <h5>
        <fa-icon [icon]="faLocationArrow"></fa-icon>
        Россия, Московская область, городской округ Пушкинский, деревня Костино, дом 6
      </h5>
      <h5>
        <fa-icon [icon]="faLocationArrow"></fa-icon>
        Пушкинский район,  Московская обл., Россия
      </h5>
    </div>
    <div class="col-md-4">
      <ul>
        <li>
          <fa-icon [icon]="faPhone"></fa-icon>
          89161385417
        </li>
      </ul>

    </div>
  </div>
</footer>
