
<div class="container block">
  <div class="row">
    <ul class="flex-end">
      <li>
        <a href="#">
          <fa-icon [icon]="faViber"></fa-icon>
          89161385417
        </a>
      </li>
      <li>
        <a href="https://mapdata.ru/moskovskaya-oblast/pushkino/derevnya-kostino/">
          <img src="https://static-maps.yandex.ru/1.x/?l=map&ll=37.905959,56.042150&size=537,275&z=14" alt="Деревня Костино на карте" width="100%">
        </a>
        <a href="#">
          <fa-icon [icon]="faLocationArrow"></fa-icon>
          Костино (Пушкинский район), Московская обл., Россия
        </a>
      </li>
    </ul>
  </div>
</div>
